a {
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: #0c4680 !important;
    border-color: #0c4680 !important;
    &:hover {
        color: black;
        background-color: #e4ecf3;
    }
}
